/*Font*/
body{
    font-size:12px;
    font-family:-apple-system, BlinkMacSystemFont, "Julius Sans One","Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    line-height:1.6;
    font-weight:normal;
}

.fixed{
  position: fixed;
  top: 0;
  width: 1280px;
}

header {
  width: 1280px;
  height: 130px;
  z-index: 999;
  background: #fff;
  position: absolute;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
}

/*navigation*/
.top-navigation{
  width: 1280px;
  height: 70px;
  padding-top: 20px;
  /*padding-left: 60px;
  padding-right: 70px;*/
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-bottom: solid 1px #d1d1d1;
  font-family: "Julius Sans One";
  display: flex;
}

.contact{
  width: 40%;
  letter-spacing: 3px;
}
.logo{
  width: 33%;
  text-align: center;
}
.logo img{
  height: 55px;
  width: 170px;
}
.search-form{
  text-align: right;
  width: 33%;
}
.shopping-bag{
  padding-left: 20px;
}
.input-text{
  padding: 10px 10px;
  border: none;
  border-bottom: solid 1px #000;
}
.button{
  height:28px;
  width: 30px;
  background: url(../img/search.png) center center no-repeat;
  border: none;
  float: right;
  margin-left: 50px;
}

/*bottom Navigation*/

.nav-container{
  width: 1280px;
  height: 40px;
  overflow: hidden;
  display: flex;
  padding-top:10px;
}

.main-nav{
  font-family: "Julius Sans One";
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

header nav ul li{
  float: left;
  margin-right: 80px;

}
header nav ul li:last-child{
  margin-right: 0px;
}

header nav ul li a{
  text-decoration: none;
  color: #000;
  /*display: block;*/
  /*width: 12rem;*/
}


/*slide show*/
#slide-show{
  width:100%;
  height: 535px;
}
#slide-show li{
  width: 100%;
  height: 535px;
  position: absolute;
  margin-top: 130px;
  cursor: pointer;
}

#slide-show li:nth-child(1){
  background:url(../img/main.jpg) center center no-repeat;
  background-size: cover;
}
#slide-show li:nth-child(2){
  background:url(../img/main02.jpg) center center no-repeat;
  background-size: cover;
}
#slide-show li:nth-child(3){
  background:url(../img/main03.jpg) center center no-repeat;
  background-size: cover;
}
#slide-paging{
  width:130px;
  position: absolute;
  left: 47%;
  margin-left: -25px;
  display: flex;
  top: 625px;
  justify-content: space-between;
}
#slide-paging li{
  width: 130px;
  height: 4px;
  margin: 0 5px;
  background-color:#CCC;
  cursor: pointer;/*マウスカーソルを指のマークに*/
}
#slide-paging li.selected{
  background-color:#8c8d91;
}


/*main visual copy*/
.content-container{
  width: 300px;
  height: 500px;
  top: 200px;
  left: 55%;
  padding: 5% 10% 10%;
  text-align: center;
  position: absolute;
}

#positioning h1{
  font-family: "Poppins";
  font-size: 15px;
  color: #535353;
}
#positioning p{
  font-family: "QuickPen";
  font-size: 30px;
  margin-bottom: 30px;
  color: #535353;
}
.line{
  max-width:100px;
  border-bottom: solid 1px #535353;
  margin: 0 20px 40px 100px;
}
.cta{
  font-family: "Poppins";
  font-size: 15px;
  text-decoration: none;
  border: 1px solid #8c8d91;
  padding: 8px 30px;
  border-radius: 2px;
  color: #8c8d91;
}
/*買い物セクション*/

.Product-feature{
  width: 1280px;
  margin-top: 200px;
  transition: 1.0s;
  margin-right: auto;
  margin-left: auto;
}

.feature-copy{
  font-size: 17px;
  font-family: "Julius Sans One";
  width: 1160px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
}
.ttn{
  width: 1160px;
}
.ttn a{
  color:#000;
}
#showall{
  float: right;
  font-family: "Poppins";
  cursor: pointer;
  width:80px;
}
#showall a{
  text-decoration: none;
  color: #a2bac4;
  font-size: 15px;
}

.feature-wrap{
  width:1160px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.tops{
  background: url(../img/tops.jpg) left
  center no-repeat;
  width: 362px;
  height: 258px;
  margin-top: 20px;
  position: relative;
}
.tops:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.3);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
}

.tops:hover:after {
    opacity: 1;
}

.info {
    color: #fff;
    z-index: 1;
    position: relative;
    width: 362px;
    text-align: center;
}

.info h1{
font-size: 17px;
padding-top: 95px;
}

.info p{
padding-top: 7px;
font-size: 21px;
}
.info a{
  color: #fff;
}

.skirt{
  background: url(../img/skirt.jpg) left
  center no-repeat;
  width: 362px;
  height: 258px;
  margin-top:20px;
  position: relative;
}

.skirt:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.3);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
}

.skirt:hover:after {
    opacity: 1;
}

.inner{
  background: url(../img/inner.jpg) left
  center no-repeat;
  width: 362px;
  height: 258px;
  margin-top:20px;
  position: relative;
}

.inner:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.3);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0;
    left: 0;
    position: absolute;
}

.inner:hover:after {
    opacity: 1;
}

.new-arrivals-copy{
  font-size: 17px;
  font-family: "Julius Sans One";
  width: 1160px;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.new-arrivals{
  padding-top: 30px;
  width: 100%;
  height: 365px;
  transition: 1.0s;
}

.new-products-line-up{
  height: 305px;
  display: flex;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.new-arrival-content{
  font-size: 14px;

}
.new-arrival-content a{
  text-decoration: none;
  color: #000;
}

.new-arrival-content img{
  width: 265px;
  height: 305px;
  position: relative;
}


.inner-wrap{
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 160px;
  display:flex;
  justify-content: space-between;
  background-color: #F4F4F4;
}
.silkimage{
  width:600px;
  transition: 1.0s;
}
.content-inner{
  width: 523px;
  padding-right: 50px;
  margin-top: 100px;
  transition: 1.0s;

}
.content-inner h1{
  font-family: "Poppins";
  font-size: 17px;
}
.content-inner h2{
  font-family:"QuickPen";
  font-size: 25px;
}
.content-inner p{
  margin-bottom: 20px;
  font-size: 15px;
}



.instagram{
  padding-top: 70px;
  height: 380px;
  width: 100%;
  margin-bottom: 20px;
  transition: 1.0s;
}
.instagram a{
  text-decoration: none;
  color: #8c8d91;
}
.instagram h1{
  text-align: center;
  font-size: 15px;
  font-family: "Poppins";
  padding: 20px 20px;
}

.instagram-line-up{
  padding: 0 100px;
  width: 1160px;
  margin: 0 auto;
  display: flex;

}

.instagram-line-up img{
  width: 260px;
  height: 260px;

}


.news-letter-wrap{
  padding: 80px 0;
  text-align: center;
  background-color: #F4F4F4;
}
.news-letter-wrap h1{
  font-size: 17px;
}
.input-group{
  padding-top: 20px;
}

.input-group-field{
  width: 30%;
  padding: 10px 10px;
}
#newsletter-signup{
  border-style: none;
  padding: 0px;
  width:80px;
  height:36px;
  border: solid 1px #000;
}

footer{
  height: 260px;
  background-color: #3e3a39;
  padding-top: 85px;
}
.footer-news-signup{
  width: 400px;
}
.footer-news-signup h1{
  color: #fff;
  padding-bottom: 10px;
}
.footer-news-signup p{
  color: #fff;
  padding-bottom: 10px;
}
.footer-sineup-field{
  width: 70%;
  padding: 10px 10px;
}
#footer-newsletter-signup{
  border-style: none;
  padding: 0px;
  width:80px;
  height:36px;
  border: solid 1px #000;
}
.footer-container{
  display: flex;
  margin-right: 100px;
  margin-left: 100px;
  width: 80%;
  justify-content: space-between;
}
.social-media{
    display: flex;
}
.social-media img{
  width:20px;
  height: 20px;
  padding-top: 20px;
  padding-right: 10px;
}


.footer-nav{
  display: flex;
  width:50%;
  justify-content: space-between;
  color: #fff;
  float: right;
}
.footer-column h5{
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px
}
.footer-column a{
  text-decoration: none;
  color: #fff;
}
.footer-column p{
  margin-bottom: 5px
}
